<div class="flex w-full h-full">
    <div class="area sticky top-0 overflow-hidden w-full h-full" *ngIf="currentFaze">
		<div class="bg-sc z-3" [ngClass]="currentFaze.class">
			<div *ngFor="let item of currentFaze.bgItems">
				<div class="flex justify-content-center align-items-center w-3rem h-3rem p-4 text-gray-700 ground">
					<span class="text-4xl pi" [ngClass]="item.icon"></span>
				</div>
			</div>
		</div>
		<div class="player-sc z-4" [ngClass]="className">
			<div *ngFor="let item of currentFaze.gameItems">
				<div class="flex justify-content-center align-items-center w-3rem h-3rem p-4 player">
					<span class="text-4xl" [ngClass]="item.icon"></span>
				</div>
			</div>
		</div>
	</div>
</div>
