<div class="flex flex-column w-full h-full md:flex-row">
    <div class="wrapper flex w-full md:w-6">
        <div class="container px-4 w-full">
            <div class="header">
                <div class="flex justify-content-between my-4 align-items-center">
                    <h2 class="text-4xl m-0" style="font-family: inherit;">PrimeFlex Beginner</h2>
                    <div >
                        <button pButton class="p-button-text" icon="pi pi-angle-left" [disabled]="!prevActive" (click)="prev()"></button>
                        <p-dropdown [(ngModel)]="level" [options]="gameList" (onChange)="onDropdownChange()" class="mx-2" styleClass="border-none" optionLabel="faze" optionValue="level">
                            <ng-template pTemplate="selectedItem">
                                Faze {{level + 1}}
                            </ng-template>
                        </p-dropdown>
                        <button pButton class="p-button-text" icon="pi pi-angle-right" [disabled]="!nextActive" (click)="next()"></button>
                    </div>
                </div>

                <p class="py-2">
                    Welcome to PrimeFlex Game! Rules are simple. Match the icons with their shadows!
                </p>

                <ul class="list-disc text-700" *ngIf="gameList && gameList.length > 0">
                    <li class="mb-2" *ngFor="let tip of gameList[level].tips">
                        {{tip}}
                    </li>
                </ul>
                <p class="pt-2" *ngIf="level === 0">
                    Clue for first: Try justify-content-end!
                </p>
            </div>

            <div class="form flex flex-column">
                <pre>
<div class="px-2">
&lt;div class="flex
<input pInputText class="w-full my-1 border-0 h-2rem" (input)="onInput()" (keydown.enter)="onEnter()" [(ngModel)]="className" />
"&gt;&lt;/div&gt;
</div>
</pre>
                <button pButton class="align-self-end" [disabled]="!isValid" label="Next Faze"
                    (click)="nextFaze()"></button>
            </div>
        </div>
    </div>
    <div class="flex md:w-6 w-full bg-blue-900">
        <app-playground [currentFaze]="gameList[level]" (onValid)="onValidation($event)" [className]="className"
            class="w-full h-full p-6"></app-playground>
    </div>
</div>
